@using MyWebsite.Application.DTOs.Categories
@using MyWebsite.Domain.Entities
@model IEnumerable<MyWebsite.Domain.Entities.Product>

@{
    var title = "Danh sách sản phẩm";
    ViewData["Title"] = title;
}

<!-- Portfolio Section -->
<section id="portfolio" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Sản phầm</h2>
        <div>@title</div>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
            @if (!Model.Any())
            {
                <p class="text-center">Không có sản phẩm phù hợp</p>
            }
            else
            {
                <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                    <li data-filter="*" class="filter-active">All (@Model.Count())</li>

                    @foreach (var item in (ViewBag.Categories as IEnumerable<CategorySiteDTO>) ?? Enumerable.Empty<CategorySiteDTO>())
                    {
                        if (item.TotalProducts > 0)
                        {
                            <li data-filter=".category-@item.Id">@item.Name @(item.TotalProducts > 0 ? $" ({item.TotalProducts})" : "")</li>
                        }
                    }

                </ul>

                <!-- End Portfolio Filters -->

                <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                    @foreach (var item in Model)
                    {
                        try
                        {
                            var imgSrc = MyWebsite.UI.Utilities.ImageHelper.GetImageSource(item.ImageData, "client/assets/img/portfolio/app-1.jpg");

                            <div class="col-lg-4 col-md-6 portfolio-item isotope-item category-@item.CategoryId">
                                <div class="portfolio-content h-100">
                                    @* <a href="@imgSrc" data-gallery="portfolio-gallery-app" class="glightbox"> *@
                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">
                                        <img src="@imgSrc" class="img-fluid" alt="">
                                    </a>
                                    <div class="portfolio-info">
                                        <h4><a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" title="More Details">@item.Name</a></h4>
                                        <p>@item.Summary</p>
                                    </div>
                                </div>
                            </div>

                            <!-- End Portfolio Item -->
                        }
                        catch (Exception e)
                        {
                            Console.WriteLine(e);
                        }
                    }

                </div>

                <!-- End Portfolio Container -->
            }
        </div>
    </div>

</section><!-- /Portfolio Section -->
<!-- Testimonials Section -->
<section id="testimonials" class="testimonials section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Sản phầm</h2>
        <div>Sản phẩm nổi bật</div>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        @if (!(ViewBag.FeaturedProducts as IEnumerable<Product>).Any())
        {
            <p class="text-center">Không có sản phẩm phù hợp</p>
        }
        else
        {
            <div class="swiper init-swiper">
                <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 600,
                      "autoplay": {
                        "delay": 5000
                      },
                      "slidesPerView": "auto",
                      "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                      },
                      "breakpoints": {
                        "320": {
                          "slidesPerView": 1,
                          "spaceBetween": 40
                        },
                        "1200": {
                          "slidesPerView": 2,
                          "spaceBetween": 20
                        }
                      }
                    }
                </script>
                <div class="swiper-wrapper">
                    @foreach (var item in (ViewBag.FeaturedProducts as IEnumerable<Product>) ?? Enumerable.Empty<Product>())
                    {
                        try
                        {
                            var imgSrc = MyWebsite.UI.Utilities.ImageHelper.GetImageSource(item.ImageData, "client/assets/img/portfolio/app-1.jpg");

                            <div class="swiper-slide">
                                <div class="testimonial-wrap">
                                    <div class="testimonial-item">
                                        <img src="@imgSrc" class="testimonial-img" alt="">
                                        <h3><a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" title="More Details">@item.Name</a></h3>
                                        <h4>@item.Category?.Name</h4>
                                        <div class="stars">
                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                        </div>
                                        <p>
                                            <i class="bi bi-quote quote-icon-left"></i>
                                            <span>@item.Summary</span>
                                            <i class="bi bi-quote quote-icon-right"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- End testimonial item -->
                        }
                        catch (Exception e)
                        {
                            Console.WriteLine(e);
                        }
                    }
                </div>
                <div class="swiper-pagination"></div>
            </div>
        }
    </div>

</section><!-- /Testimonials Section -->