@model MyWebsite.Domain.Entities.CompanyInfo

@{
    bool IsActive(string controller)
    {
        return ViewContext.RouteData.Values["Controller"]!.ToString() == controller;
    }

    var imgSrc = MyWebsite.UI.Utilities.ImageHelper.GetImageSource(Model.Logo, "client/assets/img/logo.png");
}

<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center me-auto">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <img src="@imgSrc" alt="Logo">
            <h1 class="sitename">@Model.ShortName</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a asp-controller="Home" asp-action="Index" class="@(IsActive("Home") ? "active" : "")">Trang chủ</a></li>
                <li><a asp-controller="About" asp-action="Index" class="@(IsActive("About") ? "active" : "")">Giới thiệu</a></li>
                <li><a asp-controller="Product" asp-action="Index" class="@(IsActive("Product") ? "active" : "")">Sản phẩm</a></li>
                <li><a asp-controller="Contact" asp-action="Index" class="@(IsActive("Contact") ? "active" : "")">Liên hệ</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="tel:@(Model?.PhoneNumber)">Liên hệ ngay</a>

    </div>
</header>