@model MyWebsite.Application.DTOs.ViewModels.BannerViewModel

@{
    var title = "Danh sách Banner";
    ViewData["Title"] = title;
}

<!-- Modal -->
@await Html.PartialAsync("_SaveModal", Model)

<!-- Banners Table -->
<div class="card">
    <h5 class="card-header">
        <!-- Button trigger modal -->
        <button type="button" class="btn" id="btnAdd">
            <i class="ri-add-circle-fill"></i>
        </button>
        @title
    </h5>

    <div class="table-responsive text-nowrap table-hover">
        <table id="myTable" class="table">
            <thead>
                <tr>
                    @foreach (var column in new[] { "#", 
                                  Html.DisplayNameFor(model => model.Title), 
                                  Html.DisplayNameFor(model => model.InOrder), 
                                  Html.DisplayNameFor(model => model.IsActive), 
                                  "Thao tác" })
                    {
                        <th>@column</th>
                    }
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                <tr>
                    <td>0</td>
                    <td>No data</td>
                    <td>No data</td>
                    <td>No data</td>
                    <td>Actions</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--/ Banners Table -->
@section Scripts
{
    <script src="~/js/registerDataTable.js"></script>
    <script>
        function handleImage(value, defaultValue = '/images/default-image.png') {
            return `${value ? `data:image/png;base64,${value}` : defaultValue}`;
        }
        
        function reloadTable() {
            $(elementName).DataTable().ajax.reload();
        }
        
        function submitForm(formElement) {
            const formData = new FormData(formElement);

            $.ajax({
                url: formElement.action,
                type: formElement.method,
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.status !== 'Error') {
                        $('#saveModal').modal('hide');
                        reloadTable();
                        showToaster("Success", formData.get('Id') === "0" ? "Thêm thành công" : "Cập nhật thành công");
                    } else {
                        showToaster("Error", formData.get('Id') === "0" ? "Thêm thất bại" : "Cập nhật thất bại");
                    }
                },
                error: function (error) {
                    console.error('Form submission error:', error);
                }
            });
        }
        
        function previewMainImage(input) {
            const preview = $('#previewMainImage');
            preview.empty(); // Xóa hình ảnh cũ

            if (input.files) {
                Array.from(input.files).forEach(file => {
                    const reader = new FileReader();
                    reader.onload = (event) => {
                        $('<img>', {
                            src: event.target.result,
                            id: 'previewImage',
                            class: 'img-thumbnail mr-3 mb-2',
                            style: 'max-height: 200px; max-width: 300px;'
                        }).appendTo(preview);
                    };
                    reader.readAsDataURL(file);
                });
            }
        }

    </script>

    <script>
        const elementName = "#myTable";
        const url = '@Url.Action("GetBannerPagination", "Banners")';
        const getById = '@Url.Action("GetById", "Banners", new { area = "Admin" })';
        const editUrl = '@Url.Action("SaveData", "Banners", new { area = "Admin" })';
        const deleteUrl = '@Url.Action("SoftDelete", "Banners", new { area = "Admin" })';

        const columns = [
            { data: null, name: "stt", autoWidth: true, render: (_, __, ___, meta) => meta.row + 1 },
            {
                data: "title", name: "title", width: "200px", render: (data, _, row) => `
                                    <td>
                                       <div class="d-flex align-items-center">
                                           <div class="avatar-wrapper me-3 rounded-2 bg-label-secondary user-name">
                                               <div class="avatar" style='width: 10rem !important; height: auto !important;'>
                                                   <img src="${handleImage(row.imageData)}" alt="Banner" class="rounded-2">
                                               </div>
                                           </div>
                                           <div class="d-flex flex-column justify-content-center">
                                               <span class="text-heading fw-medium text-wrap">${data}</span>
                                               <!--/ <small class="text-truncate mb-0 d-none d-sm-block">${row.description}</small> -->
                                           </div>
                                       </div>
                                   </td>` },
            { data: "inOrder", name: "inOrder" },
            { data: "isActive", name: "isActive", render: (data) => `<input type="checkbox" ${data ? 'checked' : ''} disabled>` },
            {
                data: "id", name: "id", render: (key) => `
                                    <div class="dropdown">
                                       <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                           <i class="ri-more-2-line"></i>
                                       </button>
                                       <div class="dropdown-menu" data-key="${key}">
                                           <a class="dropdown-item btn-edit" href="#" >
                                               <i class="ri-pencil-line me-1 text-warning"></i> Sửa
                                           </a>
                                           <a class="dropdown-item btn-delete" href="#">
                                               <i class="ri-delete-bin-6-line me-1 text-danger"></i> Xóa
                                           </a>
                                       </div>
                                   </div>` }
        ];

        registerDataTable(elementName, columns, url);

        $(document).on("click", "#btnAdd", function () {
            $('#saveModalTitle').text("Thêm mới Banner");
            $('#saveModal').modal('show');
            $('#formBanner').trigger("reset");
            $('#previewImage').prop('src', '/images/default-image.png');
            $('#Id').val('0');
        });

        $(document).on("click", ".btn-edit", function () {
            const key = $(this).closest("div").data("key");

            $.ajax({
                url: `${getById}/${key}`,
                method: "GET",
                success: function (data) {
                    console.log(data);

                    // Hiển thị modal trước
                    $('#saveModalTitle').text("Chỉnh sửa Banner");
                    $('#saveModal').modal('show');
                    $('#formBanner').trigger("reset");
                    $('#previewImage').empty();
                    $('#Id').val('0');

                    // Sau đó đợi một chút để đảm bảo modal đã được render
                    setTimeout(function () {
                        mapObjectToControlView(data);
                        $('#previewImage').prop("src", handleImage(data.imageData, '/images/default-image.png'));

                    }, 100); // Đợi 100ms
                },
                error: function (error) {
                    console.error('Error fetching banner data:', error);
                }
            });
        });

        $(document).on("click", ".btn-delete", function () {
            const key = $(this).closest("div").data("key");
            console.log("Delete key: ", key);
            $.ajax({
                url: `${deleteUrl}/${key}`,
                method: "POST",
                success: function (data) {
                    reloadTable();
                    showToaster("Success", "Xóa thành công");
                    console.log(data);
                }
            });
        });

        $('#formBanner').on("submit", function (e) {
            e.preventDefault();
            submitForm(this);
        });
    </script>
}
